@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$first-color: #ff6e30;
$second-color: #283036;
$accent-color: #FFA537;
$bg-color: #1e252b;
$main-color: #FFFFFF;
$hover-color: #242c32;
$second-main-color: #FDF5FF;
$third-main-color: #FFFDFD;
$input-border-color: #343B40;
$first-border-color: #2F353B;
$second-border-color: #252C32;
$third-border-color: #2D3339;
$blur-color: #007acc;
$second-blur-color: #b345f1;
$font-Poppins: "Poppins", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-Lora: "Lora", serif;
$mobile-size: 375px;
$tablet-size: 768px;